@charset "UTF-8";

@font-face {
    font-family: 'AppleGaramond';
    src: url('../fontes/AppleGaramond-Bold.ttf');
    font-weight: normal;
}

:root {
    --cor0:#ffffff;
    --cor1:#000000;
    --cor2:#80700B;
    --cor3:#FFEA63;
    --cor4:#FFDF16;
    --cor5:#807532;
    --cor6:#807A58;

    --fonte-padrao: Arial, Times, Courier, Sans-serif;
    --fonte-AppleGaramond-Bold: 'AppleGaramond', 'Cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

html,body {
    min-height: 100vh;
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image:  linear-gradient(to bottom, var(--cor4), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding: 40px;
}

header > h1 {
    color: #ffffff;
    font-family: var(--fonte-AppleGaramond-Bold);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.267);
}

header > p {
    padding-bottom: 50px;
}

header a {
    color: var(--cor0);
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-padrao);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: var(--cor0);
    color: var(--cor1);
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    box-shadow: inset 6px 6px 13px 0px rgb(0, 0,0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgb(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px black;
}

section#img01 {
    background-image: url('../imagens/nascimento-grande.png');
    background-position: center;
}

section#img02 {
    background-image: url('../imagens/morte-grande.png');
    background-position: center;
}

section#img03 {
    background-image: url('../imagens/rainha-grande.jpg');
    background-position: center;
}

section#img04 {
    background-image: url('../imagens/rei-grande.png');
}

section#img05 {
    background-image: url('../imagens/Sertão-grande.png');
}

section#img06 {
    background-image: url('../imagens/estrada-grande.png');
    background-position: center;
}

footer {
    background-color: var(--cor3);
    color: var(--cor1);
}

footer a {
    color: var(--cor2);
    font-weight: bold;
}

footer a:hover {
    color: var(--cor1);
}