@charset "UTF-8";

@font-face {
    font-family: 'AppleGaramond';
    src: url('../fontes/AppleGaramond-Bold.ttf');
    font-weight: normal;
}

:root {
    --cor0:#ffffff;
    --cor1:#000000;
    --cor2:#80700B;
    --cor3:#FFEA63;
    --cor4:#FFDF16;
    --cor5:#807532;
    --cor6:#807A58;

    --fonte-AppleGaramond-Bold: 'AppleGaramond', 'Cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor3);
    font-family: var(--fonte-padrao);
}

header {
    background-image:  linear-gradient(to bottom, var(--cor4), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding: 40px;
}

header > h1 {
    color: #ffffff;
    font-family: var(--fonte-AppleGaramond-Bold);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.267);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    color: var(--cor0);
    max-width: 600px;
    padding-right: 5px;
    padding-left: 5px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.705);
}

nav {
    background-color: var(--cor3);
    padding: 5px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.247);
}

nav > a {
    color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor3);
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--cor0);
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor2);
    font-family: var(--fonte-AppleGaramond-Bold);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-AppleGaramond-Bold);
    color: var(--cor2);
    font-size: 1.3em;
    font-weight: normal;
    text-align: 8px;
}

main h3 {
    font-family: var(--fonte-AppleGaramond-Bold);
    color: var(--cor2);
    font-size: 1.3em;
    font-weight: normal;
    text-align: 8px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main h4 {
    color: var(--cor5);
    font-weight: bold;
}

main h5 {
    color: var(--cor5);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4);
    background-color: var(--cor3);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor6);
}

main img {
    width: 100%;
}

main img.pequeno {
    max-width: 350px;
    display: block;
    margin: auto;
}

footer {
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
    font-size: 0.9em;
    padding: 5px;
}

footer a {
    color: var(--cor2);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor4);
}