@charset "UTF-8";

@font-face {
    font-family: 'AppleGaramond';
    src: url('../fontes/AppleGaramond-Bold.ttf');
    font-weight: normal;
}

:root {
    --cor0:#ffffff;
    --cor1:#000000;
    --cor2:#80700B;
    --cor3:#FFEA63;
    --cor4:#FFDF16;
    --cor5:#807532;
    --cor6:#807A58;

    --fonte-padrao: Arial, Times, Courier, Sans-serif;
    --fonte-AppleGaramond-Bold: 'AppleGaramond', 'Cursive';
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image:  linear-gradient(to bottom, var(--cor4), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding: 40px;
}

header > h1 {
    color: #ffffff;
    font-family: var(--fonte-AppleGaramond-Bold);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.267);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.1em;
    color: var(--cor0);
    max-width: 600px;
    padding-right: 5px;
    padding-left: 5px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.705);
}

nav {
    background-color: var(--cor3);
    padding: 5px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.247);
}

nav > a {
    color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor3);
    padding: 10px;
}

h1, h2, h3 {
    color: var(--cor2);
}

strong {
    color: var(--cor4);
} 

footer a {
    color: var(--cor2);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor1);
    text-decoration: underline;
}