@charset "UTF-8";

@font-face {
    font-family: 'AppleGaramond';
    src: url('../fontes/AppleGaramond-Bold.ttf');
    font-weight: normal;
}

:root {
    --cor0:#ffffff;
    --cor1:#000000;
    --cor2:#80700B;
    --cor3:#FFEA63;
    --cor4:#FFDF16;
    --cor5:#807532;
    --cor6:#807A58;
    --cor7:#2b62f8dc;

    --fonte-padrao: Arial, Times, Courier, Sans-serif;
    --fonte-AppleGaramond-Bold: 'AppleGaramond', 'Cursive';
}

* {
    margin: 0px;
    padding: 0px;
   font-size: 1em;
}

html,body {
    min-height: 100vh;
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image:  linear-gradient(to bottom, var(--cor4), var(--cor3));
    min-height: 75px;
    text-align: center;
    padding: 20px;
}

header > h1 {
    color: var(--cor2);
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte-AppleGaramond-Bold);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

header a {
    color: var(--cor2);
    text-decoration: none;
    font-weight: bolder;
}
 header a:hover {
    color: var(--cor7);
    text-decoration: underline;
 }

 footer a {
    color: var(--cor2);
    text-decoration: none;
    font-weight: bolder;
 }

 footer a:hover {
    color: var(--cor7);
    text-decoration:underline;
 }

 h2 {
    margin: 1em;
    font-family: var(--fonte-padrao);
    font-size: 1.5em;
    font-weight: bold;
 }


 section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte-AppleGaramond-Bold);
    font-size: 3.5vw;
 }